### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule spolecznosc-terraformacja-marsa-poznan index.html
RewriteRule kalendarz-spotkan kalendarz.html
RewriteRule wypisanie-rozgrywki rozgrywki.html
RewriteRule faq-spotkan-i-instrukcji faq.html
RewriteRule mini-gry minigry.html