<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Strona informująca o spotkaniach w Poznaniu, na ktrych gramy w Terraformację Marsa">
    <meta name="keywords" content="terraformacja, marsa, poznań, gry, planszowe, liga" />
    <meta http-equiv="X-UA-Compatible" content="IE=egde,chrome=1" />
    <title>Terraformacja Poznań</title>
    <link href="https://fonts.googleapis.com/css?family=Gruppo&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" href="styles/foundation.min.css">
    <link rel="stylesheet" href="styles/app.css">

    
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <link href="fontello-4a71da1c/css/fontello.css" rel="stylesheet" type="text/css" />
  


    <!-- [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></sctipt>
    <![endif]-->
      

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <style>

  </style>

  <body >
        <div id="app">
      <header>

        
          <section id="screen1">
            <div id="logo">
              <img :src="url" alt="From Mars to Earth ">
            </div>
            <nav id="navbar">
                <ul>
                 <li><a href="index.html">Home</a></li>
                  <li><a href="kalendarz.html">Kalendarz</a></li>
                  <li><a href="rozgrywki.html">Nowe Rozgrywki</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="mini-gry.html">Mini Gry</a></li>
                </ul>
            </nav>
                
          </section>
    
      </header>

      <main>
        <div >
          <section class="row">
              <div class="small-6 columns">
                  <h1 class="text-center">ZIEMIA</h1>
                  <div class="healthbar">
                      <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                      :style="{width: playerHealth + '%'}">
                          {{ playerHealth }}
                      </div>
                  </div>
              </div>
              <div class="small-6 columns">
                  <h1 class="text-center">MARS</h1>
                  <div class="healthbar">
                      <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                      :style="{width: monsterHealth + '%'}">
                          {{ monsterHealth }}
                      </div>
                  </div>
              </div>
          </section>
          <section class="row controls" v-if=!gameIsRunning>
              <div class="small-12 columns">
                  <button id="start-game" @click="startGame" href="#app">NOWA GRA</button>
              </div>
          </section>
          <section class="row controls" v-else>
              <div class="small-12 columns">
                  <button id="attack" @click="attack">TERRAFORMUJ</button>
                  <button id="special-attack" @click="specialAttack">ZRZUĆ METEORYT</button>
                  <button id="heal" @click="heal">LECZ ZIEMIĘ</button>
                  <button id="give-up" @click="giveUp">PODDAJ SIĘ</button>
              </div>
          </section>
          <section class="row log" v-if="turns.length > 0">
              <div class="small-12 columns">
                  <ul>
                      <li v-for= "turn in turns"
                      :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                          {{ turn.text }}
                      </li>
                  </ul>
              </div>
          </section>
        </div>
      
      <script src="scripts/app.js"> </script>
      </main>
    </div>
      <footer id="footer">
          <div id="foot">
            <p>Spędź swoich znajomych do Terraformowania Marsa</p>
          </div>
          <div id="foot2">
              <i class="icon-mail-alt"></i>
              <a href="https://www.facebook.com/groups/297283600980143/?fref=nf" target="_blank"><i class="icon-facebook-rect"></i></a>
        </div>
        <div style="clear: both"></div>
        </footer>
  </body>
</html>
          