

/* #formstyle {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
} */
/* img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
} */
div#popupContact {
/* position:absolute;
left:50%;
top:17%; */
margin-left: auto;
margin-right: auto
}
#formstyle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
max-width:400px;
min-width:250px;
padding:10px 50px;
/* border:2px solid gray; */
border-radius:10px;
/* font-family:raleway; */
background-color:#fff
}
/* p {
margin-top:30px
} */
h2 {
background-color:rgb(231, 231, 231);
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
/* font-family:raleway */
}
#place {
background-image:url(../images/radar.png);
background-repeat:no-repeat;
background-position: left;
background-position-x: 5px
}
#firstplace {
background-image:url(../images/first.jpg);
background-repeat:no-repeat;
background-position: left;
background-position-x: 5px
}
#secondplace {
    background-image:url(../images/second.jpg);
    background-repeat:no-repeat;
    background-position: left;
    background-position-x: 5px
    }
    #thirdplace {
        background-image:url(../images/third.jpg);
        background-repeat:no-repeat;
        background-position: left;
        background-position-x: 5px
        }
textarea {
background-image:url(/images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
/* font-family:raleway; */
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:rgb(150, 150, 150);
color:#fff;
border:1px solid rgb(121, 121, 121);
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
/* button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif; 
font-size:18px;
cursor:pointer
} */