#welcome {
    font-size: 80px;
    letter-spacing: 4px;
    /* background-color: #f7f4f4a8; */
    margin-bottom: 50px;
  }

#welcome h2{
  font-size: 30px;
}
  
#screen2 {
  background:#f7f4f4a8;
}
  
  #sidebar, #content {
    height: 100%;
    /* overflow: auto; */
    float: left;
    list-style-position: inside;
    padding-left: 10px;
    padding-right: 10px;
    /* transition: width .35s; */
  }
  
  #sidebar {
    width: 30%;
    /* This pattern is downloaded from www.toptal.com/designers/subtlepatterns/  */
    background-image: url("../images/tlo.png");
    box-shadow: 2px 0 4px rgba(160, 160, 160, 0.5); 
    line-height: 2;
    letter-spacing: 0,5px;
    color: #afafaf;
  }

  
  #content {
    width: 65%;
  
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0px 0px 0px 40px;
  }
  
  #content p{
    text-align: right;
    justify-content: flex-start;
  }
  /* 
  #sidebar ol li:first-child {
    color: blue;
  } */
  
  /* #sidebar ul:before{
  
  } */
  
  /* /* #sidebar.collapsed {
    width: 0;
  } 
  
  #sidebar.collapsed + #content {
    width: 100%;
  } */
  /* 
button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border:none;
  outline:none;
  background: #303030;
  margin: 20px;
  cursor:pointer;
} */

