/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
} */

/* @font-face {
  font-family: 'prototyperegular';
  src: url('font/webfontkit-20190612-070531.woff2') format('woff2'),
       url('font/webfontkit-20190612-070531.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*/



body {
  font-family: 'Gruppo', cursive;
  color: #757575;
  max-width: 1200px;
  margin: 0 auto;
} 

#sidebar, #content {
  /* height: 100%; */
  /* overflow: auto; */
  float: left;
  /* transition: width .35s; */
}

#sidebar {
  /* background:#f0efefa8; */
  /* width: 30%; */
  /* This pattern is downloaded from www.toptal.com/designers/subtlepatterns/  */
  background-image: url("../images/tlo.png");
  box-shadow: 2px 0 4px rgba(126, 126, 126, 0.5); 
  line-height: 2;
  letter-spacing: 0,5px;
  color: #afafaf;
}

#sidebar ol li:first-child {
  color: blue;
}

/* #sidebar ul:before{

} */

/* /* #sidebar.collapsed {
  width: 0;
} 

#sidebar.collapsed + #content {
  width: 100%;
} */

#content {
  width: 65%;
  background:#fffbfba8;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 0px 0px 0px 20px;
}

#content p{
  text-align: right;
  justify-content: flex-start;
}


#footer {
  clear: both;
  /* position: fixed; */
  bottom: 0;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

#foot, #foot2 {
  float: left;
}

#foot2 {
  margin-left: 10px;
  text-align: center;
}

/* 
button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border:none;
  outline:none;
  background: #303030;
  margin: 20px;
  cursor:pointer;
} */

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #303030;
  text-shadow: 3px 3px 1px grey;
}

h2 {
  font-size: 30 px;
  margin-bottom: 5%;
  text-align: center;
}

h3 {
  margin-top: 20px;
  text-align:center;
}


img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed;
  top: 0;
  width: 100%;
	height: 70px;
  z-index: 1;
  text-align: center;
}

/* body {
	color: #fff;
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 18px;
	text-align: center;
}  */

/* Navigation Settings */
#navbar {
	bottom: 0;
	width: 100%;
	height: 70px;
  background: #fff;
  text-align: center;
  font-size: 120%;
}

#navbar li {
	display: inline-block;
	padding: 24px 10px;
}

#navbar li a {
  color: #757575;
	text-transform: uppercase;
}

#navbar li a:hover {
  background-color: #f7f5f5;
}

.faqcategories {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.faq {
  margin-top: 10px;
  padding: 15px;
  display: inline-block;
}




/* @media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

} */


